.pay__check {
    width: 85%;
    height: 95%;
    font-weight: 400;
    font-family: "Segoe UI";
    font-size: calc(0.5rem + 0.5vw);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pay__search {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    column-gap: 2%;
    padding: 4%;
    position: relative;

    &-input {
        width: 52%;
        height: 16px;
        font-weight: 400;
        font-family: "Segoe UI";
        font-size: calc(0.5rem + 0.3vw);
        border-radius: 10px;
        background-color: white;
        border: 1px solid #e9eaeb;
        box-shadow: 0px 3px 6px #0000001a;
        padding: 1% 2%;
        display: flex;
        justify-content: space-between;

        input {
            width: 100%;
        }

        &-search {
            color: $gray-logout;
        }

        &-filter {
            // width: 5%;
            height: calc(0.5rem + 1.5vw);
            border-radius: 10px;
            border: 1px solid #e9eaeb;
            box-shadow: 0px 3px 6px #0000001a;
            padding: 1% 2%;
            background-color: $blue-icon;
            cursor: pointer;

            i {
                color: $gray-changePage;
            }
        }
    }

    &-nav {
        position: absolute;
        border-radius: 10px 10px 10px 10px;
        background-color: $blue-table;
        border: 1px solid #e9eaeb;
        height: 300%;
        width: 33%;
        right: 3%;
        clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 10% 17%, 2% 7%, 10% 7%);
        // position: fixed;
        background: rgba(201, 231, 245, 0.658);

        &-container {
            font-size: calc(0.5rem + 0.3vw);

            &-item {
                list-style: none;
                font-weight: 600;

                li {
                    padding: 1% 2%;
                    input {
                        position: absolute;
                        left: -1000em;
                    }

                    input:checked + label {
                        color: #afa51b;
                    }
                }
            }
        }
    }
}

.pay__table_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.pay__table {
    width: 100%;
    border-spacing: unset;
    font-size: calc(0.5rem + 0.2vw);

    td {
        padding: 1%;
        text-align: center;
        align-items: center;
    }

    &-groups {
        width: 56%;

        &-content {
            background-color: $blue-table;
            border-radius: 5px 0 0 5px;
            text-align: left !important;
        }
    }

    &-total {
        width: 13%;
        &-content {
            background-color: #ffffff;
        }
    }

    &-totalPaid {
        padding-left: 1.2%;
        cursor: pointer;
        line-height: 1;
        align-content: center;
        align-items: baseline;

        &-text {
            float: left;
            row-gap: 1px;
        }

        &-content {
            background-color: $blue-table;
            padding: 0 1%;
        }

        button {
            float: left;
        }
    }

    &-owe {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        line-height: 1;
        clear: both;

        &-text {
            display: flex;
            flex-direction: column;
            row-gap: 1px;
        }

        &-icons {
            border-width: 0;
            border-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            line-height: 1;
            cursor: pointer;

            i {
                color: $gray-bars;
                font-size: 17px;
                font-weight: 600;
            }

            &-down {
                font-size: 15px !important;
                color: $gray-inputLogin !important;
            }
        }

        &-content {
            background-color: $red-table;
        }
    }

    &-view {
        width: 6%;
        align-items: center !important;

        &-content {
            background-color: $blue-table;
            border-radius: 0 5px 5px 0;
            align-items: center;

            &-icon {
                font-size: 20px;
                margin-right: 1%;
                color: $gray-inputLogin;
                cursor: pointer;
            }
            button {
                border: none;
                margin: 0;
            }
        }
    }
}

/*____________Components___________*/
.pay__minusMore {
    position: absolute;
    width: 98%;
    z-index: 0;
    display: grid;
    background-color: $filterPaid-back;
    border: 1px solid #636363;
    bottom: -92px;
    left: 0;

    &-margen {
        //Para el elemento de la derecha
        bottom: -93px;

        button {
            padding: 7.1% 0% !important;
        }
    }

    button {
        font-size: calc(0.1rem + 0.1vw);
        font-weight: 600;
        padding: 7.5% 0%;
    }
}

.check__tableDescription {
    width: 60%;
    position: absolute;
   

    &-container {

        text-align: left!important;
        background-color: $blue-icon;
        position: absolute;
        width: 99%;
        border-radius: 10px;
        padding: 0%!important;
       

        &-table {
            width: 100%;
           
            &-line{
                width: 100%;
                height: 1px;       
                background-color: #A5A5A5B3;
                position: absolute;
                margin: -2px;
            }

            thead > tr > th{
            
                padding: 5px 0 5px 1%!important;
            }

            tbody > tr > td{
                padding-left: 1%!important;
                text-align: left;
                padding: 0;
                padding-bottom: 1%;
            }

            tfoot > tr > th:last-of-type{
               cursor: pointer;
            }
        }
    }
}
