.pay__makePay {
    width: 90%;
    height: 90%;
    font-weight: 400;
    font-family: "Segoe UI";
    font-size: calc(0.5rem + 0.2vw);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: blue;
}

.pay__date {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;

    &Data {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin-left: 5px;
        background-color: $blue-sky3;
        border-radius: 10px;
    }
}
.pay__forms {
    width: 90%;
    height:100%;
    display: flex;
    background-color: red;
    margin-top: 30px;
    justify-content: space-between;
}

.pay__formSection{
    width: 38%;
}

.pay__money{
    width: 38%;
}

.pay__inputData {
    border: 1px solid #707070;
    background-color: white;
    border-radius: 5px;
    height: 6%;
    width: 40%;
}
.pay__titleSection {
    font-weight: bold;
}
.pay__subtitleSection {
    font-weight: 600;
}

.pay__box {
    font-weight: 600;
}
