/* ________Container_________ */
.pay__makePay {
    width: 90%;
    height: 90%;
    font-weight: 400;
    font-family: "Segoe UI";
    font-size: calc(0.5rem + 0.2vw);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pay__date {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;

    &Data {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 1px;
        margin-left: 5px;
        background-color: $blue-sky3;
        border-radius: 8px;
    }
}

/*___________First part______________*/
.pay__forms {
    width: 90%;
    height: 100%;
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
}

.pay__formSection {
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pay__titleSection {
    p {
        font-weight: bold;
        padding: 1% 0;
    }
}

.pay__inputData {
    border: 1px solid #707070;
    background-color: white;
    border-radius: 7px;
    height: 50%;
    width: 65%;
}

.pay__subtitleSection {
    font-weight: 600;
    font-weight: bold;

    &-concept {
        padding: 1.5% 0;
    }
}

.pay__boxData {
    padding: 2%;
}

.pay__concept {
    p {
        padding: 3% 0;
    }
}

.pay__reasonPay {
    background-color: $yellow-radius;
    border-radius: 7px;
    padding: 1.4% 4%;
    margin-right: 4%;
    cursor: pointer;
}

/*__________Second Part_________*/
.pay__money {
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pay__optionsPay {
    padding: 3% 0%;
}
.pay__optionPay {
    background-color: $yellow-radius;
    border-radius: 7px;
    padding: 1.4% 4%;
    margin-right: 3%;
    cursor: pointer;
}

.pay__totalPay {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 7% 0;
}

.pay__btnTotalPay {
    background-color: $blue-button;
    border-radius: 7px;
    padding: 3.7% 6%;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: center;
}

.pay__quantity {
    align-self: center;
    border: 1px solid black;
    // clip-path: polygon(-15% 0, 100% 0, 100% 100%, -15% 100%, -15% 54%, 0 40%, -15% 30%);
    width: 80px;
    height: 100%;
    margin-left: 10%;
    

    &::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-bottom: 20px solid chocolate;
        border-right: 18px solid transparent;
        border-left: 18px solid transparent;
    }
}
.pay__btnPagar {
    place-self: center;
    background-color: $blue-button;
    border-radius: 7px;
    padding: 4% 10%;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

/*_______________Components____________________*/

.pay__component {
}

/*____________Generals_______*/
.pay__box {
    font-weight: 600;
    background-color: #c1e0ff;
    border-radius: 10px;
}
