.navbar__container {
    display: flex;
    justify-content: space-between;
    background-color: $gray-navbar;
    width: 100vw;
    height: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    &:hover + .navbar__dropmenu {
    }
    &-imagotipo {
        display: flex;
        align-items: center;
        margin: 0;
        &-imagen {
            & img {
                width: 6vw;
                height: 6vw;
            }
        }
        &-text {
            font-size: calc(0.4rem + 0.9vw);
            text-align: center;
        }
    }

    &-logout {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2.5vw;
        &-icon {
            font-size: 2.7rem;
            color: $gray-logout;
        }
    }
}
.navbar__dropmenu {
    position: absolute;
    width: 18vw;
    height: 86vh;
    background-color: #f8f7f2;
    z-index: 8;
    display: flex;
    flex-direction: column;
    transform: translateX(-18vw);
    opacity: 0;
    transition: all 0.4s;
    .navbar__item {
        height: 65px;
        display: flex;
        align-items: center;
        transition: all 0.2s;
        i {
            font-size: 30px;
            text-align: center;
            width: 40%;
            color: $blue-solid;
        }
        label {
            font: normal normal normal 18px/24px Segoe UI;
        }

        &:hover {
            background-color: $blue-sky;
            transition: all 0.2s;
        }
    }
}

.navbar__dropmenuChange {
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.4s;
}
