.gro__students {
    height: 100%;
    width: 100%;
}
.gro__inputsContainer {
    align-items: center !important;
    justify-content: center !important;
}

.gro__inputs {
    &-group {
        width: 65%;
    }
    &-major {
        width: 65%;
    }
}

.input__special label {
    margin-right: 0.7rem !important;
}

button {
    background-color: transparent;
}
