.major__container-content-inf {
    height: 70%;
}
.major__personal {
    height: 32%;   
}

.major__special{
    justify-content: center!important;
}
.major__inputs {

    &-major {
        width: 80%;
    }
}
