.per__personal {
    height: 100%;
}

.per__inputs {
    &-name {
        width: 24%;
    }
    &-father {
        width: 19%;
    }
    &-mother {
        width: 19%;
    }
    &-RFC {
        width: 26%;
    }
    // DEBEN SOBRAR 12%

    &-CURP {
        width: 25%;
        margin-right: 4%;
    }
    &-num1 {
        width: 19%;
        margin-right: 4%;
    }
    &-email {
        width: 35%;
    }

    &-dep {
        width: 34%;
        margin-right: 4%;
    }
    &-pay {
        width: 54%;
    }
}
