.stu__generalContainer {
    display: flex;
    flex-direction: column;
}

.stu__personal {
    height: 70%;
    margin-bottom: 5%;
}

.stu__scholar {
    height: 25%;
}

.stu__inputs {
    &-name {
        width: 23%;
    }
    &-father {
        width: 18%;
    }
    &-mother {
        width: 18%;
    }
    &-dates {
        width: 29%;
    }

    // DEBEN SOBRAR 12%

    &-age {
        width: 10%;
    }
    &-CURP {
        width: 21%;
    }
    &-street {
        width: 21%;
    }
    &-colony {
        width: 21%;
        color: $white;
    }
    &-code {
        width: 15%;
        color: $white;
    }

    // DEBEN SOBRAR 12%

    &-birthplace {
        width: 25%;
    }
    &-num1 {
        width: 20%;
    }
    &-num2 {
        width: 20%;
    }
    &-email {
        width: 23%;
    }

    &-birthplace {
        width: 25%;
        margin-right: 4%;
    }
    &-num1 {
        width: 20%;
        margin-right: 4%;
    }
    &-num2 {
        width: 20%;
        margin-right: 4%;
    }
    &-email {
        width: 23%;
    }

    &-campus {
        width: 23%;
        margin-right: 4%;
    }

    &-career {
        width: 25%;
        margin-right: 4%;
    }
    &-group {
        width: 20%;
        margin-right: 4%;
    }
}

.stu__inputs-mat {
    width: 15%;
}
