.tea__personal {
    height: 60%;
    margin-bottom: 5%;
}

.tea__scholar {
    height: 20%;
}

.tea__inputs {
    &-name {
        width: 23%;
    }
    &-father {
        width: 18%;
    }
    &-mother {
        width: 18%;
    }
    // DEBEN SOBRAR 12%

    &-num1 {
        width: 20%;
    }
    &-email {
        width: 23%;
    }
}
