.tea__personal {
    height: 60%;
    margin-bottom: 5%;
}

.tea__scholar {
    height: 20%;
}

.tea__inputs {
    &-name {
        width: 23%;
    }
    &-father {
        width: 18%;
    }
    &-mother {
        width: 18%;
    }
    &-dates {
        width: 29%;
    }

    // DEBEN SOBRAR 12%

    &-age {
        width: 10%;
    }
    &-CURP {
        width: 21%;
    }
    &-street {
        width: 21%;
    }
    &-colony {
        width: 21%;
        color: $white;
    }
    &-code {
        width: 15%;
        color: $white;
    }

    // DEBEN SOBRAR 12%

    &-birthplace {
        width: 25%;
    }
    &-num1 {
        width: 20%;
    }
    &-num2 {
        width: 20%;
    }
    &-email {
        width: 23%;
    }

    &-birthplace {
        width: 25%;
    }
    &-num1 {
        width: 20%;
    }
    &-num2 {
        width: 20%;
    }
    &-email {
        width: 23%;
    }
}
