.tea__personal {
    height: 40%;
    margin-bottom: 5%;
    
}

.tea__scholar {
    height: 30%;
}

.tea__inputs {
    &-name {
        width: 30%;
    }
    &-father {
        width: 28%;
    }
    &-mother {
        width: 28%;
    }
   
    // DEBEN SOBRAR 12%

    &-num1 {
        width: 35%;
        margin-right: 4%;
    }
 
    &-RFC {
        width: 35%;
    }
    
    &-campus {
        width: 30%;
        margin-right: 4%;
    }
    // &-subImp {
    //     width: 50%;
    // }
}
