//Colors
$primary: "";
$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$gray-navbar: #dcdcdc;
$gray-inputs: #e6e6e6;
$gray-inputsText: #535353;
$gray-logout: #848484;

$blue-heroLogin: #012e5a;
$gray-inputLogin: #636363;
$gray-inputBorder: #c5c5c5;
$gray-panelBorder: #A2A2A2;
$mustard: #c6b300;

$main-circles: #004c97;
$blue-aqua: #3275B5;
$blue-sky: #7CA5CE;
$blue-solid: #043B71;
