//Colors
$primary: "";
$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$gray-navbar: #dcdcdc;
$gray-inputs: #e6e6e6;
$gray-inputsText: #535353;
$gray-logout: #848484;

$blue-heroLogin: #012e5a;
$gray-inputLogin: #636363;
$gray-inputBorder: #c5c5c5;
$gray-panelBorder: #a2a2a2;
$mustard: #c6b300;

$main-circles: #004c97;
$blue-aqua: #3275b5;
$blue-sky: #7ca5ce;
$blue-solid: #043b71;

$schedule-back: #f8f7f3;
$red-trash: #FF0000;